
                body {
                    width: 80%;
                    margin: 0 auto;
                    background-color: rgb(197, 248, 255);
                    padding: 20px;
                }
                ul {
                    background-color: #94c1f5;
                    color: #fff;
                    padding: 10px;
                }
                p {
                    color: #96175d;
                }
                .white {
                    color: #d4b6b6;
                }
                .italic{
                    font-style: italic ;
                }
                .main-content {
                    width: 70%;
                    float: left;
                    padding: 10px;
                    background-color: #ddb1ad;
                }
                .inter{
  font-family: "Cookie", cursive;
  font-weight: 400;
  font-style: normal;
                }

                